<html>

<head th:replace="fragments/base.html :: headerfiles(title='Home | Catering')">
	<title>Registrati | Catering </title>
</head>

<body>
	<div id="content">
		<header th:replace="fragments/base.html :: navbar"></header>
		<!--- MAIN -->
		<div
			th:replace="fragments/base.html :: page-title-section(image='/images/catering.webp',type='has-text-white',title='Benvenuto 👋',subtitle='Gestisci subito i tuoi catering')">
		</div>
		<div class="ct-flex-container">
			<div class="section p-3">
				<p class="title is-5">Naviga</p>
				<p class="subtitle is-6">Vedi cosa hai creato in precedenza</p>
			</div>
			<div class="ct-flex-item">
				<a th:href="@{/buffet}" class="media p-5">
					<div class="media-left">
						<p class="title is-3">🍴 </p>
					</div>
					<div class="media-content">
						<p class="title is-5">Scopri Buffet</p>
					</div>
					<div class="media-left">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</a>
			</div>
			<div class="ct-flex-item">
				<a th:href="@{/chef}" class="media p-5">
					<div class="media-left">
						<p class="title is-3">👨🏻‍🍳 </p>
					</div>
					<div class="media-content">
						<p class="title is-5">Scopri Chef</p>
					</div>
					<div class="media-left"><i class="fa-solid fa-chevron-right"></i></div>
				</a>
			</div>
		</div>
		<div class="ct-flex-container">
		<div class="section p-3">
				<p class="title is-5">Gestisci</p>
				<p class="subtitle is-6">Aggiungi, rimuovi o modifica in base alle tue esigenze</p>
			</div>
			<div class="ct-flex-item">
				<a th:href="@{/admin/buffet/add}" class="media p-5">
					<div class="media-left">
						<p class="title is-3">🍽 </p>
					</div>
					<div class="media-content">
						<p class="title is-5">Aggiungi Buffet</p>
					</div>
					<div class="media-left">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</a>
			</div>
			<div class="ct-flex-item">
				<a th:href="@{/admin/chef/add}" class="media p-5">
					<div class="media-left">
						<p class="title is-3">👨🏽‍🍳 </p>
					</div>
					<div class="media-content">
						<p class="title is-5">Aggiungi Chef</p>
					</div>
					<div class="media-left">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</a>
			</div>
			<div class="ct-flex-item">
				<a th:href="@{/admin/buffet/dish/add}" class="media p-5">
					<div class="media-left">
						<p class="title is-3">+</p>
					</div>
					<div class="media-content">
						<p class="title is-5">Aggiungi Piatto</p>
					</div>
					<div class="media-left">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</a>
			</div>
			<div class="ct-flex-item">
				<a th:href="@{/admin/buffet/dish/ingrediente/add}" class="media p-5">
					<div class="media-left">
						<p class="title is-3">👨🏽‍🍳 </p>
					</div>
					<div class="media-content">
						<p class="title is-5">Aggiungi Ingrediente</p>
					</div>
					<div class="media-left">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</a>
			</div>
			<div class="ct-flex-item">
				<a th:href="@{/admin/dishes/update}" class="media p-5">
					<div class="media-left">
						<p class="title is-3">👨🏽‍🍳 </p>
					</div>
					<div class="media-content">
						<p class="title is-5">Modifica piatti</p>
					</div>
					<div class="media-left">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</a>
			</div>
		</div>
		<footer th:replace="fragments/base.html :: footer"></footer>
	</div>
</body>

</html>