<html>

<head th:replace="fragments/base.html :: headerfiles(title='Aggiungi chef | Catering')">
	<title>Aggiungi | Catering </title>
</head>

<body>
	<div id="content">
		<header th:replace="fragments/base.html :: navbar"></header>
		<!--- MAIN -->
		<div
			th:replace="fragments/base.html :: page-title-section(image='/images/chefs.webp',type='has-text-white',title='Aggiungi un nuovo chef ??',subtitle='Puoi aggiungere un nuovo chef')">
		</div>
		<div class="ct-flex-container">
			<div class="ct-flex-item">
				<div class="section p-5">
					<h2 class="title is-5">Dettagli chef</h2>
					<p class="subtitle is-6">Fornisci tutte le informazioni per aggiungere un nuovo chef</p>
				</div>
				<div class="section pt-0 pb-4">
					<form th:action="@{/admin/chef/add}" method="POST" th:object="${chef}">
						<div class="field">
							<div class="control">
								<label class="label">Nome</label>
								<span><input class="input" type="text" placeholder="Nazionalità"
										th:field="*{nome}" /></span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Cognome</label>
								<span><input class="input" type="text" placeholder="Cognome"
										th:field="*{cognome}" /></span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Nazionalità</label>
								<span><input class="input" placeholder="Nazionalità" type="text"
										th:field="*{nazionalita}" /></span>
							</div>
						</div>
						<div class="level is-mobile">
							<div class="level-left">
								<button class="button is-rounded is-info" type="submit">Conferma</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<a th:href="@{/chef}" class="ct-flex-item">
				<div class="media p-5">
					<div class="media-left"><span class="icon-media-left">👨🏻‍🍳</span></div>
					<div class="media-content">
						<h2 class="title is-5">Scopri gli altri chef</h2>
						<p class="subtitle is-6">Puoi vedere gli chef che ci sono</p>
					</div>
					<div class="media-right"><i class="fa-solid fa-chevron-right"></i></div>
				</div>
			</a>
		</div>
		<footer th:replace="fragments/base.html :: footer"></footer>
	</div>
</body>

</html>