<html>

<head>
	<title>Aggiungi chef | Catering </title>
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<div id="content">
		<header>
			<spn>Chef</span>
		</header>
		<!--- MAIN -->
		<div class="ct-flex-container">
			<div class="ct-flex-item">
				<div class="section p-5">
					<h2 class="title is-5">Inserisci chef</h2>
					<p class="subtitle is-6">Fornisci tutte le informazioni per aggiungere un nuovo chef</p>
				</div>
				<div class="section pt-0 pb-4">
					<form th:action="@{/admin/chef/add}" method="POST" th:object="${chef}">
						<div class="field">
							<div class="control">
								<label class="label">Nome</label>
								<span><input class="input" type="text" placeholder="Nazionalità"
										th:field="*{nome}" /></span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Cognome</label>
								<span><input class="input" type="text" placeholder="Cognome"
										th:field="*{cognome}" /></span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Nazionalità</label>
								<span><input class="input" placeholder="Nazionalità" type="text"
										th:field="*{nazionalita}" /></span>
							</div>
						</div>
						<div class="level is-mobile">
							<div class="level-left">
								<button class="button is-rounded is-info" type="submit">Conferma</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<a th:href="@{/chef}" class="ct-flex-item">
					<div class="media p-5">
						<div class="media-left"><span class="icon-media-left">👨🏻‍🍳</span></div>
						<div class="media-content"><h2 class="title is-5">Scopri gli altri chef</h2>
					<p class="subtitle is-6">Puoi vedere gli chef che ci sono</p></div>
						<div class="media-right"><i class="fa-solid fa-chevron-right"></i></div>
					</div>
			</a>
		</div>
	</div>
	<footer>
		<div class="ct-footer-btn">
			<div class="ct-btn-icon">
				<i class="fa-solid fa-house fa-lg"></i>
				<p>Home</p>
			</div>
		</div>
		<div class="ct-footer-btn">
			<div class="ct-btn-icon">
				<i class="fa-solid fa-fire fa-lg"></i>
				<p>Chef</p>
			</div>
		</div>
		<div class="ct-footer-btn">
			<div class="ct-btn-icon">
				<i class="fa-solid fa-fire fa-lg"></i>
				<p>Chef</p>
			</div>
		</div>
		<div class="ct-footer-btn">
			<div class="ct-btn-icon">
				<i class="fa-solid fa-fire fa-lg"></i>
				<p>Chef</p>
			</div>
		</div>
	</footer>
	</div>
</body>

</html>