<html>

<head th:replace="fragments/base.html :: headerfiles(title='Ingrediente | Catering')">
	<title>Buffet | Catering </title>
</head>

<body>
	<div id="content">
		<header th:replace="fragments/base.html :: navbar"></header>
		<!--- MAIN -->
		<div
			th:replace="fragments/base.html :: page-title-section(image='/images/ingredienti.webp',type='has-text-white',title=${piatto.nome},subtitle='Di seguito gli ingredienti del piatto scelto')">
		</div>
		<!--- MAIN -->
		<div class="ct-flex-container">
			<div class="ct-flex-item">
				<div class="section p-5">
					<h2 class="title is-5" th:text="${piatto.nome}">piatto nome</h2>
					<p class="subtitle is-6" th:text="${piatto.descrizione}">piatto
						descrizione e origine</p>
				</div>
				<div class="section pt-0 pb-5 pl-5 pr-5">
					<p class="title is-5">Ingredienti</p>
					<div class="media media-chef" th:if="${!ingredienti.empty}" th:each="ingrediente : ${ingredienti}">
						<div class="media-left">
							<div class="media-left-badge">
								<p th:text=" '#' + ${ingrediente.id}">#ID</p>
							</div>
						</div>
						<div class="media-content">
							<p class="title is-6" th:text="${ingrediente.nome}">Nome ingrediente</p>
							<p class="subtitle is-7 mb-2" th:text="${ingrediente.origine}">Origine ingrediente</p>
							<p class="subtitle is-6" th:text="${ingrediente.descrizione}">Descrizione ingrediente</p>
						</div>
					
					</div>
					<div th:unless="${!ingredienti.empty}">
						<div
							th:replace="fragments/base.html :: alert(text='Non ci sono ingredienti nel seguente piatto')" />
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/base.html :: footer"></footer>
	</div>
</body>

</html>