<html>

<head th:replace="fragments/base.html :: headerfiles(title='Aggiungi Piatto | Catering')">
	<title>Aggiungi | Catering </title>
</head>

<body>
	<div id="content">
		<header th:replace="fragments/base.html :: navbar"></header>
		<!--- MAIN -->
		<div
			th:replace="fragments/base.html :: page-title-section(image='/images/ingredienti.webp',type='has-text-white',title='Aggiungi un ingrediente',subtitle='Per i tuoi piatti')">
		</div>
		<div class="ct-flex-container">
			<div class="ct-flex-item">
				<div class="section p-5">
					<h2 class="title is-5">Dettagli ingrediente</h2>
					<p class="subtitle is-6">Stai creando un nuovo ingrediente</p>
				</div>
				<div class="section pt-0 pb-4">
					<form th:action="@{/admin/buffet/dish/ingrediente/add}" method="POST" th:object="${ingrediente}">
						<div class="field">
							<div class="control">
								<label class="label">Nome</label>
								<span><input th:field="*{nome}" placeholder="es. Carne Chianina" class="input"
										type="text" /></span>
							</div>
							<p class="has-text-left help is-danger" th:if="${#fields.hasErrors('nome')}"
								th:errors="*{nome}">Errore</p>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Origine</label>
								<span><input th:field="*{origine}" class="input"
										placeholder="es. Appennino Tosco-Emiliano"></input></span>
							</div>
							<p class="has-text-left help is-danger" th:if="${#fields.hasErrors('origine')}"
								th:errors="*{origine}">Errore</p>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Descrizione</label>
								<span><textarea th:field="*{descrizione}" class="textarea"
										placeholder="Inserisci la descrizione dell'ingrediente"></textarea></span>
							</div>
							<p class="has-text-left help is-danger" th:if="${#fields.hasErrors('descrizione')}"
								th:errors="*{descrizione}">Errore</p>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Piatto</label>
								<div th:if="${!piatti.empty}" class="select">
									<select th:field="*{piatto}">
										<option th:value="${piatto.id}" th:each="piatto : ${piatti}"><span
												th:text="${piatto.nome}">Nome chef</span></option>
									</select>
								</div>
								<div th:unless="${!piatti.empty}">
									<div class="notification p-3 is-danger">Nessuno chef disponibile!</div>
								</div>
							</div>
						</div>
						<div class="level is-mobile">
							<div class="level-left">
								<button class="button is-rounded is-info" th:disabled="${piatti.empty}"
									type="submit">Salva</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/base.html :: footer"></footer>
	</div>
</body>

</html>