<html>

<head th:replace="fragments/base.html :: headerfiles(title='Aggiungi Piatto | Catering')">
	<title>Aggiungi | Catering </title>
</head>

<body>
	<div id="content">
		<header th:replace="fragments/base.html :: navbar"></header>
		<!--- MAIN -->
		<div
			th:replace="fragments/base.html :: page-title-section(image='/images/catering.webp',type='has-text-white',title=${piatto.nome},subtitle='Modifica il piatto come vuoi')">
		</div>
		<div class="ct-flex-container">
			<div class="ct-flex-item">
				<div class="section p-5">
					<h2 class="title is-5">Modifica piatto <span th:text="${piatto.nome}"></span></h2>
					<p class="subtitle is-6">Stai aggiornando il piatto</p>
				</div>
				<div class="section pt-0 pb-4">
					<form th:action="@{'/admin/buffet/dish/' + ${piatto.id} + '/update' }" method="POST" th:object="${piatto}">
						<div class="field">
							<div class="control">
								<span><input th:field="*{id}" th:value="${piatto.id}" class="input"
										type="hidden" /></span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Nome</label>
								<span><input th:field="*{nome}" class="input" type="text" /></span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Descrizione</label>
								<span><textarea th:field="*{descrizione}" class="textarea"
										placeholder="Inserisci la descrizione del piatto"></textarea></span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Seleziona buffet</label>
								<div th:if="${!buffets.empty}" class="select">
									<select th:field="*{buffet}">
										<option th:value="${buffet.id}" th:each="buffet : ${buffets}"><span
												th:text="${buffet.nome}">Nome buffet</span></option>
									</select>
								</div>
								<div th:unless="${!buffets.empty}">
									<div class="notification p-3 is-danger">Nessuno buffet disponibile!</div>
								</div>
							</div>
						</div>
						<div class="level is-mobile">
							<div class="level-left">
								<button class="button is-rounded is-info" th:disabled="${buffets.empty}"
									type="submit">Salva</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/base.html :: footer"></footer>
	</div>
</body>


</html>