<html>

<head>
	<title>Aggiungi buffet | Catering </title>
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<div id="content">
		<header>
			<span>Buffet</span>
		</header>
		<!--- MAIN -->
		<div class="ct-flex-container">
			<div class="ct-flex-item">
				<div class="section p-5">
					<h2 class="title is-5">Inserisci piatto</h2>
					<p class="subtitle is-6">Stai creando un nuovo buffet</p>
				</div>
				<div class="section pt-0 pb-4">
					<form th:action="@{/admin/buffet/dish/add}" method="POST" th:object="${piatto}">
					<div class="field">
							<div class="control">
								<label class="label">id</label>
								<span><input th:field="*{id}" th:value="${piatto.id}" class="input" type="text" /></span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Nome</label>
								<span><input th:field="*{nome}" class="input" type="text" /></span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Descrizione</label>
								<span><textarea th:field="*{descrizione}" class="textarea"
										placeholder="Inserisci la descrizione del piatto"></textarea></span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Seleziona buffet</label>
								<div th:if="${!buffets.empty}" class="select">
									<select th:field="*{buffet}">
										<option th:value="${buffet.id}" th:each="buffet : ${buffets}"><span
												th:text="${buffet.nome}">Nome buffet</span></option>
									</select>
								</div>
								<div th:unless="${!buffets.empty}">
									<div class="notification p-3 is-danger">Nessuno buffet disponibile!</div>
								</div>
							</div>
						</div>
						<div class="level is-mobile">
							<div class="level-left">
								<button class="button is-rounded is-info" th:disabled="${buffets.empty}"
									type="submit">Salva</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="ct-flex-item">
				<div class="section p-5">
					<h2 class="title is-5"><span class="mr-1">🍴 </span>Buffet disponibili</h2>
					<p class="subtitle is-6">Qui puoi vedere tutti i buffet proposti</p>
				</div>
				<div class="section p-5">
					<a class="media media-chef" th:if="${!buffets.empty}" th:each="buffet : ${buffets}"
						th:href="@{'/buffet/' + ${buffet.id} + '/dishes'}"  >
						<div class="media-left">
							<div class="media-left-badge">
								<p th:text=" '#' + ${buffet.id}">#ID</p>
							</div>
						</div>
						<div class="media-content">
							<p class="title is-6" th:text="${buffet.nome}">Nome Cognome</p>
							<p class="subtitle is-6" th:text="'Descrizione: ' + ${buffet.descrizione}">Descrizione
								buffet</p>
						</div>
						<div class="media-right">
							<a class="delete" th:href="@{'/admin/buffet/' +${buffet.id} + '/delete'}">Elimina</a>
						</div>
					</a>
					<div th:unless="${!buffets.empty}">
						<div th:replace="fragments/base.html :: alert(text='Non ci sono buffet registrati')" />
					</div>
				</div>
			</div>
			<a class="ct-flex-item">
				<div class="media p-5">
					<div class="media-left"><span class="icon-media-left">👨🏻‍🍳</span></div>
					<div class="media-content">
						<h2 class="title is-5">Scopri gli altri chef</h2>
						<p class="subtitle is-6">Puoi vedere gli chef che ci sono</p>
					</div>
					<div class="media-right"><i class="fa-solid fa-chevron-right"></i></div>
				</div>
			</a>
		</div>
	</div>
	<footer>
		<div class="ct-footer-btn">
			<div class="ct-btn-icon">
				<i class="fa-solid fa-house fa-lg"></i>
				<p>Home</p>
			</div>
		</div>
		<div class="ct-footer-btn">
			<div class="ct-btn-icon">
				<i class="fa-solid fa-fire fa-lg"></i>
				<p>Chef</p>
			</div>
		</div>
		<div class="ct-footer-btn">
			<div class="ct-btn-icon">
				<i class="fa-solid fa-fire fa-lg"></i>
				<p>Chef</p>
			</div>
		</div>
		<div class="ct-footer-btn">
			<div class="ct-btn-icon">
				<i class="fa-solid fa-fire fa-lg"></i>
				<p>Chef</p>
			</div>
		</div>
	</footer>
	</div>
</body>

</html>