<html>

<head th:replace="fragments/base.html :: headerfiles(title='Aggiungi Piatto | Catering')">
	<title>Aggiungi | Catering </title>
</head>

<body>
	<div id="content">
		<header th:replace="fragments/base.html :: navbar"></header>
		<!--- MAIN -->
		<div
			th:replace="fragments/base.html :: page-title-section(image='/images/ingredienti.webp',type='has-text-white',title='Aggiungi un nuovo piatto',subtitle='Puoi aggiungere un nuovo piatto')">
		</div>
		<div class="ct-flex-container">
			<div class="ct-flex-item">
				<div class="section p-5">
					<h2 class="title is-5">Inserisci piatto</h2>
					<p class="subtitle is-6">Stai creando un nuovo piatto in un buffet</p>
				</div>
				<div class="section pt-0 pb-4">
					<form th:action="@{/admin/buffet/dish/add}" method="POST" th:object="${piatto}">
						<div class="field">
							<div class="control">
								<label class="label">Nome</label>
								<span><input th:field="*{nome}" class="input" type="text" /></span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Descrizione</label>
								<span><textarea th:field="*{descrizione}" class="textarea"
										placeholder="Inserisci la descrizione del piatto"></textarea></span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<label class="label">Seleziona buffet</label>
								<div th:if="${!buffets.empty}" class="select">
									<select th:field="*{buffet}">
										<option th:value="${buffet.id}" th:each="buffet : ${buffets}"><span
												th:text="${buffet.nome}">Nome buffet</span></option>
									</select>
								</div>
								<div th:unless="${!buffets.empty}">
									<div class="notification p-3 is-danger">Nessuno buffet disponibile!</div>
								</div>
							</div>
						</div>
						<div class="level is-mobile">
							<div class="level-left">
								<button class="button is-rounded is-info" th:disabled="${buffets.empty}"
									type="submit">Salva</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="ct-flex-item">
				<div class="section p-5">
					<h2 class="title is-5"><span class="mr-1">🍴 </span>Buffet disponibili</h2>
					<p class="subtitle is-6">Qui puoi vedere tutti i buffet proposti</p>
				</div>
				<div class="section pt-0 pb-5 pl-5 pr-5">
					<a class="media media-chef" th:if="${!buffets.empty}" th:each="buffet : ${buffets}"
						th:href="@{'/buffet/' + ${buffet.id} + '/dishes'}"  >
						<div class="media-left">
							<div class="media-left-badge">
								<p th:text=" '#' + ${buffet.id}">#ID</p>
							</div>
						</div>
						<div class="media-content">
							<p class="title is-6" th:text="${buffet.nome}">Nome Cognome</p>
							<p class="subtitle is-6" th:text="'Descrizione - ' + ${buffet.descrizione}">Descrizione
								buffet</p>
						</div>
					</a>
					<div th:unless="${!buffets.empty}">
						<div th:replace="fragments/base.html :: alert(text='Non ci sono buffet registrati')" />
					</div>
				</div>
			</div>
			<div class="ct-flex-item">
				<a th:href="@{/chef}" class="media p-5">
					<div class="media-left"><span class="icon-media-left">👨🏻‍🍳</span></div>
					<div class="media-content">
						<h2 class="title is-5">Scopri gli altri chef</h2>
						<p class="subtitle is-6">Puoi vedere gli chef che ci sono</p>
					</div>
					<div class="media-right"><i class="fa-solid fa-chevron-right"></i></div>
				</a>
			</div>
		</div>
		<footer th:replace="fragments/base.html :: footer"></footer>
	</div>
</body>

</html>